@charset "utf-8";
/* ====== リセットcss ====== */
* {
  box-sizing: border-box;
}
​
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
​
body {
    line-height:1;
}
​
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
​
nav ul {
    list-style:none;
}
​
blockquote, q {
    quotes:none;
}
​
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
​
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
​
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
​
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
​
del {
    text-decoration: line-through;
}
​
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
​
table {
    border-collapse:collapse;
    border-spacing:0;
}
​
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
​
input, select {
    vertical-align:middle;
}
/* ====== /リセットcss ====== */

/* ここから本番のcss */
body{
    font-family: "Noto Sans", sans-serif;
    color: #3B3B3B;
    width:1280px;
    margin: 0 auto;
}
a{
    color: #3B3B3B;
    text-decoration: none;
}
header{
    margin: 16px 96px 0 96px;
    height: 56px;
}
header ul{
    display: flex;
    list-style: none;
}
nav li{
    margin: 26px 0 0 56px;
}
nav li:first-child{
    margin-right: auto;
    margin-top: 16px;
}
.header-logo{
    width: 38px;
    height: 24px;
}

/* ①メイン画像 */
.main-message{
    background: url(images/imgB.png);
    height: 744px;
    margin-bottom: 80px;
    position: relative;
}
.main-message h1{
    color: #918F89;
    font-size: 53px;
    font-weight: normal;
    width: 609px;
    height: 137px;
    background-color: #fff;
    opacity: 0.8;
    padding: 32px 32px 32px 88px;
    position: absolute;
    top: 306px;
}
/* ②暮らしを提案する */
.our-proposal{
    height: 560px;
    background: url(images/imgA.png) no-repeat left 88px top 0;
    background-size: 560px 560px;
    margin-bottom: 240px;
    position: relative;
}
.our-proposal h2{
    font-size: 23px;
    font-weight: normal;
    letter-spacing: 2.5px;
    position: absolute;
    top: 240px;
    left: 704px;
}
.our-proposal p{
    font-size: 12px;
    position: absolute;
    top: 336px;
    left: 704px;
    line-height: 30px;
    letter-spacing: 0.36px;
}
/* ③NEWS */
.new-items{
    height: 456px;
    margin-bottom: 240px;
}
.new-items h2{
    font-size: 23px;
    letter-spacing: 2.3px;
    text-align: center;
    margin-bottom: 48px;
}
.img-container{
    display: flex;
    justify-content: center;
    margin: 0 0 56px 65px;
}
.img-container img{
    height: 320px;
    width: 320px;
    opacity: 0.6;
}
.furniture-img{
    margin-right: 64px;
    position: relative;
    background-color: #000;
    height: 320px;
    width: 320px;
}
figcaption{
    color: #ccc;
    position: absolute;
    top: 144px;
    left: 47px;
}
.new-items p{
    text-align: center;
    letter-spacing: 0.43px;
}
.new-items span{
    font-size: 11px;
    color: #918F89;
}

/* ④公式カタログ */
.catalogue{
    height: 180px;
    margin-bottom: 240px;
}
.catalogue h2{
    font-size: 24px;
    letter-spacing: 2.4px;
    text-align: center;
    margin-bottom: 48px;
}
.catalogue p{
    font-size: 15px;
    letter-spacing: 0.45px;
    text-align: center;
    line-height: 30px;
}
.catalogue-dw{
    margin: 0 auto;
    width: 344px;
    padding: 19px 64px;
    background: #D1D1D1;
    border-radius: 40px;
    margin-top: 40px;
    color: #707070;
    font-size: 18px;
    letter-spacing: 1.8px;
}
.catalogue-dw:hover{
    color: #fff;
    background: #918F89;
}

/* ⑤お問い合わせ */
.form-part{
    margin-bottom: 240px;
    height: 464px;
}
.form-part h2{
    font-size: 24px;
    letter-spacing: 2.4px;
    margin-bottom: 47px;
    text-align: center;
}
.form-part form{
    text-align: center;
}
input[type="text"],
input[type="email"]{
    padding-left: 16px;
    margin-bottom: 34px;
    width: 454px;
    height: 32px;
    color: #D1D1D1;
    border: 1px #D1D1D1 solid;
    border-radius: 20px;  
}
textarea{
    padding: 10px 0 0 16px;
    margin-bottom: 47px;
    resize: none;
    width: 454px;
    height: 200px;
    color: #D1D1D1;
    border: 1px #D1D1D1 solid;
    border-radius: 20px;
}


/* .header-logo{
    height: 37px;
    width: 62px;
    margin: 11px auto 10px 88px;
    text-align: center;
} 
nav{
    margin: 28px 89px 10px auto;
    width: 336px;
    height: 22px;
    display: flex;
    justify-content: space-between;
    color: #272727;
}
nav a{
    color: #272727;
    text-decoration: none;
    text-align: center;
}
main{
    border: #FCFCFC 1px solid ;
    width:1280px;
    height: 741px;
    margin: 0 auto;
    background-image: url(images/imgB.png);
    background-size: cover;
}
.message_container01{
    border: rgba(255, 255, 255, 0.3) 1px solid ;
    margin: 264px 578px 341px 0;
    width: 702px;
    height: 136px;
    background-color: white;
    opacity: 0.8;
}
.message_container01 h1{
    width: 554px;
    height: 82px;
    font-size: 60px;
    font-weight: normal;
    margin: 31px 60px 23px 88px;
    text-align: left;
    letter-spacing: 2.8px;
    color: #707070;
}
.mainImage1{
    color: #3B3B3B ;
    width: 1280px;
    height: 642px;
    margin: 0 auto;
}
.image01{
    margin: 142px 0 0 88px;
    float: left;
}
.message_container02 h2{
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 2.5px;
    width: 474px;
    height: 29px;
    margin: 340px 0 0 70px;
    float: left;
}
.message_container03{
    width: 474px;
    height: 138px;
    font-size: 12px;
    line-height: 30px;
    letter-spacing: 0.36px;
    margin: 40px 0 0 70px;
    float: left;    
}
.mainImage2{
    width:1280px;
    color: #3B3B3B;
    font-size: 25px;
}
.message_container04 h3{
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 2.5px;
    width: 194px;
    height: 29px;
    margin: 200px 543px 50px 543px;
    text-align: left;
}
.img02{
    margin: 0 158px ;
}
.circle1{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #A5A5A5;
    opacity: 0.3;
    float: left;
    margin: 30px 4px 0 627px;
}
.circle2{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #A5A5A5;
    float: left;
    margin: 30px 4px 0 4px;
}
.circle3{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #A5A5A5;
    opacity: 0.3;
    float: left;
    margin: 30px 0 0 4px;
}
.mainImage3{
    width:1280px;
    height: 712px;
    color: #3B3B3B;
    text-align: center;
    font-size: 18px;
    letter-spacing: 2.5px;
}
.message_container05 h4{
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 2.5px;
    margin: 210px 597.5px 50px 600.5px;
}
.img03{
    width: 334px;
    height: 387px;
    background-image: url(images/imgD.png);
    position: relative;
    filter: brightness(0.5);
    font-size: 18px;
}
.img-container{
    width: 1280px;
    height: 387px;
    float: left;
}
figure{
    position: relative;
    overflow: hidden;
    width: 334px;
    height: 387px;
}
figcaption{
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 1;
}
figcaption p{
    position: absolute;
    color: #fff;
    text-shadow: 0px 0px 6px #000000E0;
    text-align: center;
    width: 334px;
    top: 50%;
    transform: translateY(-50%);
}
figure:hover figcaption{
    bottom: 0;
    left: 0;
}
.img03{
    float: left;
}
.img04{
    float: left;
}
.img05{
    float: left;
}
figure{
    position: relative;
    overflow: hidden;
    width: 334px;
    height: 387px;
}
figcaption{
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    -webkit-transition: .3s;
    transition: .3s;
    opacity: 1;
}
figcaption p{
    position: absolute;
    color: #fff;
    text-shadow: 0px 0px 6px #000000E0;
    text-align: center;
    width: 334px;
    top: 45%;
    transform: translateY(-50%);
}
figure:hover figcaption{
    bottom: 0;
    left: 0;
}
.img03 p {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 45%;
    color: #FFFFFF;
    transform: translateY(-50%);
    text-shadow: 0px 0px 6px #000000E0;
    opacity: 1;
}
.img04 .img05 p {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40%;
    color: #FFFFFF;
    transform: translateY(-50%);
    text-shadow: 0px 0px 6px #000000E0;
    opacity: 1;
}
.contactPart{
    width:1280px;
    float: left;
    margin-bottom: 228px;
}
.message_container06 h5{
    color: #3B3B3B;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 1.05px;
    width: 113px;
    height: 22px;
    margin: 39px 579px 221px 588px;
    font-size: 21px;
    text-align: center;
}
.message_container07 h6{
    font-size: 25px;
    letter-spacing: 2.5px;
    font-weight: normal;
    width: 131px;
    height: 29px;
    margin: 0 574.5px 60px 574.5px;
    text-align: center;
}
.input-content{
    border: #707070 solid 0.5px;
    width: 463px;
    height: 35px;
    margin: 0 408px 30px 408px;
    opacity: 0.6;
    border-radius: 11px;
    letter-spacing: 0.6px;
}
.input-textarea{
    border: #707070 solid 0.5px;
    margin: 0 408px 68px 409px;
    width: 463px;
    height: 156px;
    opacity: 0.6;
    border-radius: 11px;
    font-size: 12px;
    letter-spacing: 0.6px;
    resize: none;
}
.button{
    border: #707070 solid;
    background-color: #707070;
    color: white;
    width: 111px;
    height: 35px;
    margin: 0 621px 0 595px;
    font-size: 15px;
    border-radius: 11px;
    letter-spacing: 0.75px;
}
.footer01{
    width:1280px;
    height: 176px;
    background-color: #918F89;
    color: white;
    display: flex;
    float: left;
    justify-content: space-between;
}
.fotter-logo{
    margin: 116px 60px 116px 227px;
    width: 77px;
    height: 60px;
    text-align: center;
    font-size: 22px;
    float: left;
}
.footer-menu{
    width: 554px;
    height: 24px;
    font-size: 18px;
    display: flex;
    margin: 133px 219px 127px 422px;
}
.menu1{
    margin-right: 99px;
}
.menu2{
    margin-right: 100px;
}
.footer-02{
    width:1280px;
    height: 108px;
    font-size: 10px;
    color: white;
    background-color: #918F89;
    float: left;
}
.footer-02 p{
    text-align: center;
    margin-top: 68px;
    margin-bottom: 28px; */